
html, body, #main, .home {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.home.noscroll {
  overflow: hidden;
}

.overview {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("/res/power-plant.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 90%;
  z-index: -5;
}

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-style: italic;
  font-size: 2.0rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  z-index: 1;
}

.overlay-text {
  width: 60%;
  text-align: center;
}

.blackout {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: -2;
}

.logo {
  width: 50px;
  display: inline-block;
  padding: 0 8px 3px 0;
  vertical-align: bottom;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  padding: 30px 5%;
}

.header.pinned {
  background-color: black;
}

.title {
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
  color: white;
  margin: 0;
}

.brand {
  cursor: pointer;
}

.contact {
  float: right;
  border: 2px solid white;
  color: white;
  font-size: 0.8rem;
  height: 0.8rem;
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}

.contact:hover {
  background-color: white;
  color: black;
}

.content {
  background-color: white;
  margin-top: 90vh;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 10%;
  margin-bottom: 40px;
}

.nav-link {
  display: flex;
  flex-direction: vertical;
  justify-content: center;
  padding: 10px;
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  color: black;
}

.nav-link.active {
  color: black;
}

.nav-link > p {
  display: table-cell;
  vertical-align: middle
}

.band {
  display: flex;
  justify-content: space-around;
  height: 400px;
  width: 100%;
  margin-bottom: 80px;
}

.band-description {
  height: 100%;
  width: 40%;
  margin: 0 5%;
}

.band-image {
  height: 1;
  width: 40%;
  margin: 0 5%;
  background-repeat: no-repeat;
}

.product-preview_right {
  background-image: url("/res/flux3.png");
}

.reader-preview_left {
  background-image: url("/res/reader.jpg");
}

.capabilities_right {
  background-image: url("/res/radiation.jpg");
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 80px 5% 40px 5%;
}

.footer_left {
  font-size: 0.6rem;
  width: 60%;
}

.footer_right {
  font-size: 0.7rem;
  margin: 10px 0;
  float: right;
  text-align: right;
}

.inline-link {
  text-decoration: none;
  color: black;
  text-align: center;
  float: right;
  margin: 40px 20px;
}

.arrow {
  display: inline;
  margin: 0 5px 0 5px;
  transition: margin 0.2s;
}

.inline-link:hover .arrow {
  margin: 0 0 0 10px;
}

.tagline-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
}

.tagline {
  margin: 0;
}

.icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0 10px 0 5px;
  flex: 0 0 auto;
}

.icon-man, .icon-site {
  margin: 0 3px;
}
.personnel-header, .distributors-header {
  padding: 5px;
  margin: 15px;
  font-size: 1.2rem;
  font-weight: 900;
  border-bottom: 1px solid #999;
}

.header.static {
  width: 96%;
  padding: 10px 2%;
}

.distributors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
}

.distributor {
  font-size: 0.8rem;
  width: 250px;
  padding: 5px;
}

.dist-row, .person-row {
  color: #555;
}

.dist-region {
  font-size: 1.0rem;
  font-weight: 900;
  color: black;
}

.personnel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
}

.person {
  font-size: 0.8rem;
  width: 250px;
  padding: 5px;
}

.person-name {
  font-size: 1.0rem;
  font-weight: 900;
}

.contact-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 80px;
}

.contact-advice {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.focus {
  font-weight: 900;
  white-space: nowrap;
}

.person-name {
  color: black;
}

textarea, input {
  font-size: 1.2rem;
  color: #555;
  padding: 4px;
  border: 1px solid #ccc;
}

textarea {
  height: 5rem;
  resize: none;
}

textarea:focus, input:focus {
  outline: none;
  box-shadow: inset 0 0 2px 1px rgba(150,200,255,0.50);
  border: 1px solid rgb(150,200,255);
}

textarea.invalid, input.invalid {
  border: 1px solid rgb(255,150,150);
}

textarea.invalid:focus, input.invalid:focus {
  box-shadow: inset 0 0 2px 1px rgba(255,150,150,0.50);
}

.contact-form {
  padding: 20px;
  width: 400px;
  overflow: hidden;
}

.form_row {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.label {
  font-size: 0.8rem;
  margin: 0 4px;
}

.form_input {
  margin: 2px;
  display: block;
  font-family: 'Quicksand', sans-serif;
}

.error {
  font-size: 0.8rem;
  margin: 0 4px;
  color: rgb(200,100,100);
}

.form_submit {
  font-family: 'Quicksand', sans-serif;
  float: right;
  background-color: #fff;
  border: 2px solid black;
  outline: none;
  color: black;
  font-size: 0.8rem;
  font-weight: 900;
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}

.form_submit:hover {
  background-color: black;
  color: white;
}
.sensor-icon-05 {
  width: 20px;
  height: 20px;
  margin: ;
}

.sensor-icon-1 {
  width: 40px;
  height: 40px;
}

.sensor-icon-4 {
  width: 90px;
  height: 90px;
}

.sensor-icon {
  margin: 0 5px;
}

.light-icons {
  margin-right: 30px;
}

.dark-icons {
  margin-left: 30px;
}

.bulk-products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.sensor-icon {
  flex: 0 0 auto;
}

.bulk-products-summary {
  text-align: center;
  min-width: 100px;
  padding: 0 10px;
}

.product-page-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 20px;
  margin-bottom: 30px;
}

.back-arrow {
  display: inline;
  margin: 0 5px;
  transition: margin 0.2s;
}

.inline-link:hover .back-arrow {
  margin: 0 10px 0 0;
}

.product-main-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.product-table-box {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.product-table-header {
  font-size: 1.4rem;
}

table {
  border-spacing: 0;
  background-color: #ddd;
  border-collapse: separate;
  border-spacing: 1px;
  font-size: 0.8rem;
  width: 100%;
}

td {
  padding: 5px;
}

.table-row:nth-child(even) {
  background: #eee;
}
.table-row:nth-child(odd) {
  background: #fff;
}

.product-table-footnotes {
  font-size: 0.6rem;
}

.links-list {
  height: 100px;
}

.more-info, .inquiry {
  float: right;
  vertical-align: bottom;
  margin: 10px 0;
}

ul {
  list-style: none;
}

li {
  height: 40px;
}

.back, .nav-inquiry {
  margin: 0;
}

.product {
  display: flex;
  justify-content: space-around;
  margin: 60px 0;
}

.product-name {
  padding-bottom: 10px;
}

.product-info {
  width: 500px;
}

.product-price, .product-datasheet {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0 0 0;
}

.product-image {
  width: 300px;
  height: 300px;
}

.context {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.product-page-background {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.product-page {
  width: 100%;
  height: 100%;
  background-color: white;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
